

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: antiquewhite;
    margin-top: 20px;
  }

  .list-unstyled{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


.text-uppercase{
  display: flex;
  justify-content: center;
}