
@import "colores";

.formularioContacto{	
	width: 460px; 
  	height: auto;
  	margin: 15px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  	background-color: white; 
  	padding-left: 30px; 
}



.estiloInputTextArea{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color:map-get($paletaColores, vinotinto);
	margin-top: 10px;  
	padding-left: 10px;
  	margin-bottom: 20px; 

}

input{
	@extend .estiloInputTextArea;
	
}


textarea{
	@extend .estiloInputTextArea;
	width: 405px; 
	height: 150px;  
  	padding-top: 15px; 
}


label{
  	display: block; 
	float: center; 	
}


button p{
	color: #fff; 
}


span{
	color: map-get($paletaColores, vinotinto);
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


.tituloFormulario{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: map-get($paletaColores, vinotinto);
  	margin: 10px;
}


.subtituloFormulario{
	font-size: 10px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


/*Creando un mixin*/

@mixin borderInputTextArea{
	outline:0;
	border: 1px solid #97d848;
}

.formulario input:focus{
	@include borderInputTextArea;
}


.formulario textarea:focus{
	@include borderInputTextArea;
}