@import "colores";

.navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav ul{
    display: flex;
    
  }

nav li a:hover {
    background: $vinotinto;
    color: $blanco;
  }

li{
    list-style-type: none;
    padding: 10px;
  }